@model IEnumerable<Mono.Models.VehicleModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VehicleMake.makeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modelAbrv)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleMake.makeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modelName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modelAbrv)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.modelId }) |
            @Html.ActionLink("Details", "Details", new { id=item.modelId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.modelId })
        </td>
    </tr>
}

</table>
